.contact-preview {
    margin: 5px;

    .contact-img {
        padding: 5px;

        img {
            height: 40px;
            border-radius: 50%;
            margin-inline-end: 5px;
        }
    }
}