.contact-preview {
    border-bottom: 1px solid white;
    padding: 14px 14px 14px 0px;
    gap: 8px;

    .contact-img {

        img {
            height: 40px;
            border-radius: 50%;
            margin-inline-end: 5px;
        }
    }
}